@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200&family=Poppins:wght@500&family=Protest+Strike&family=Rubik+Burned&family=Single+Day&family=Ubuntu:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
:root{

    --primaryColor:hsl(94,55%,56%);
    --hoverColor:hsl(93,75%,76%);
    --paleGreen:hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --greyText:hsl(0,0%,75%);
    --bgColor:hsl(113,11%,85%);
    --inputColor:hsl(330,12%,97%);
    --inputColor:hsl(154,14%,90%);


    /*fonts and typography*/
    --biggestFontSize:2.5rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:.938rem;
    --smallFontSize:.813rem;
    --smallestFontSize:.75rem;


}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}
html{
    font-size: 90%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}
img,video{
    height: auto;
    width: 100%;
}
.message{
    display: none;
}
.showMessage{
    display: block;
    color: var(--whiteColor);
    background: rgb(255, 0,0);
    text-align: center;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyText);

}
.btn .icon{
    margin-left: .5rem;

}
.btn:hover{
    color: var(--primaryColor);
    background: var(--paleGreen);
}