:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  /* --inputColor: hsl(154,14%,90%); */

  /* fonts and typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}
.sideBar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}
.logoDiv {
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
  img {
    max-width: 50px;
    margin-right: 0.5rem;
    /* background: var(--inputColor); */
    border-radius: 2px;
    padding: 0.2rem;
  }
  h2 {
    font-size: var(--h2FontSize);
    color: var(--primaryColor);
  }
}
.menuDiv,
.settingsDiv {
  .divTitle {
    font-size: var(--h3FontSize);
    color: var(--blackColor);
    padding: 0 1.5rem 1.5rem;
  }
  .menuLists {
    padding: 0.2rem 1.5rem;
    width: 100%;
    position: relative;



    .menuLink {
        color: var(--greyText);
        font-weight: 500;
        position: relative;
  
        .icon {
          margin-right: 0.5rem;
        }
      }

    &::before {
      position: absolute;
      content: "";
      height: 0%;
      left: 0;
      width: 5px;
      bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: var(--primaryColor);
    }
    &:hover .menuLink {
        color: var(--primaryColor);
        transition: 0;
      }
      &:hover::before{
        height: 100%;
        transition: .3 ease;
      }
   
  }
  
}

.sideBarCard{
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;


  .icon{
    position: absolute;
    background: var(--hoverColor);
    border: 10px solid var(--whiteColor);
    font-size: 3rem;
    border-radius: 50%;
    right: 50%;
    top: -8px;
    transform: translate(50%);
    z-index: 100;


  }
  .cardContent{
    position: relative;
    padding: 1rem;
    background: var(--hoverColor);
    border-radius: 10px;
    overflow: hidden;

    h3{
      font-size: var(--h3FontSize);
      margin-top: 1rem;
      padding: 1rem 0;
      font-weight: 800;
      color: var(--blackColor);
    }
    p{
      font-size: var(--normalFontSize);
      color: var();
      padding-bottom: 1rem;
      font-weight: 500;
    }
    .btn{
      position: relative;
      color: var();
      z-index: 1000;
    }
    .circle1,.circle2{
      position: absolute;
      background: var(--paleGreen);
      border-radius: 50%;
      opacity: .7;
    }
    .circle1{
      height: 100px;
      width: 100px;
      top: -50px;
      left: -50px;

    }

  }

}
